{% extends "base.html" %}

{% load static %}

{% block title %}
    Restablecimiento de contraseña completado - El Contador
{% endblock title %}

{% block navigation %}
  {% include "includes/tabs.html" with active_tab='tab_login' %}
{% endblock navigation %}


{% block content %}
  <article>
    <div class="section-1-container section-container">
      <div class="container">
        <div class="row">
          <div class="col section-1 section-description">
            <br>
            <h3>Restablecimiento de contraseña completado</h3>
            <hr>
          </div>
        </div>

        <div class="row">
          <div class="col-4 offset-4 col-lg-4 offset-lg-4">
            <div class="div-to-align">
              <br>
              <h2 class="text-center">Restablecimiento de contraseña completado</h2>
                <p class="text-center">Ahora puede <a href="{% url 'login' %}" style="color: #428bca">Iniciar sesión</a> de nuevo.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </article>
{% endblock content %}
