{% extends "base.html" %}

{% load static %}

{% block title %}
    Restablecer Contraseña - El Contador
{% endblock title %}

{% block navigation %}
  {% include "includes/tabs.html" with active_tab='tab_login' %}
{% endblock navigation %}

{% load widget_tweaks %}

{% block content %}
  <article>
    <div class="section-1-container section-container">
      <div class="container">
        <div class="row">
          <div class="col section-1 section-description">
            <br>
            <h3>Restablecer Contraseña</h3>
            <hr>
          </div>
        </div>

        <div class="row">
          <div class="col-4 offset-4 col-lg-4 offset-lg-4">
            <div class="div-to-align">
              <br>
              <h2>Restablecimiento de contraseña listo</h2>
              <p class="text-justify">Le hemos enviado por correo electrónico las instrucciones para configurar su contraseña; si existe una cuenta con el correo electrónico que ingresó, deberías recibirlas en breve.</p>

              <p class="text-justify">Si no recibe un correo electrónico, asegúrese de haber ingresado la dirección con la que se registró y verifique su carpeta de correo no deseado.</p>

              <p>Volver a <a href="{% url 'login' %}" style="color: #428bca">inicio de sesión</a>.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </article>
{% endblock content %}
