{% extends "base.html" %}

{% load static %}

{% block title %}
    Restablecimiento de contraseña listo - El Contador
{% endblock title %}

{% block navigation %}
  {% include "includes/tabs.html" with active_tab='tab_login' %}
{% endblock navigation %}

{% load widget_tweaks %}

{% block content %}
  <article>
    <div class="section-1-container section-container">
      <div class="container">
        <div class="row">
          <div class="col section-1 section-description">
            <br>
            <h3>Restablecimiento de contraseña listo</h3>
            <hr>
          </div>
        </div>

        <div class="row">
          <div class="col-4 offset-4 col-lg-4 offset-lg-4">
            <div class="div-to-align">
              <br>
              <form method="post" autocomplete="off">
                {% csrf_token %}
                <h2>Restablecer Contraseña</h2>
                <p>Ingrese su dirección de correo electrónico a continuación para restablecer su contraseña.</p>
                <div>
                  {{ form.email.errors }}
                  {{ form.email|add_class:'form-control'|append_attr:"placeholder:Correo electrónico" }}
                </div>
                <br>
                <div>
                  <!--<a class="btn btn-default submit">Iniciar</a>-->
                  <input class="btn btn-primary" type="submit" value="Enviar">

                  <a href="{% url 'login' %}" style="color: #428bca">Volver a inicio de sesión</a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </article>
{% endblock content %}
