{% extends "base.html" %}

{% load static %}

{% block title %}
    Confirmar restablecer contraseña - El Contador
{% endblock title %}

{% block navigation %}
  {% include "includes/tabs.html" with active_tab='tab_login' %}
{% endblock navigation %}

{% load widget_tweaks %}

{% block content %}
  <article>
    <div class="section-1-container section-container">
      <div class="container">
        <div class="row">
          <div class="col section-1 section-description">
            <br>
            <h3>Confirmar restablecer contraseña</h3>
            <hr>
          </div>
        </div>

        <div class="row">
          <div class="col-4 offset-4 col-lg-4 offset-lg-4">
            <div class="div-to-align">
              <br>
              {% if validlink %}
                    <form method="post">
                        {% csrf_token %}

                        <h2>Confirmar restablecer contraseña</h2>
                        <p>Ingrese su nueva contraseña en el siguiente formulario</p>

                        <div class="form-group">
                            {{ form.new_password1.errors }}
                            <label for="id_new_password1">Nueva Contraseña:</label>
                            {{ form.new_password1|add_class:'form-control' }}
                        </div>

                        <div class="form-group">
                            {{ form.new_password2.errors }}
                            <label for="id_new_password2">Confirme Contraseña:</label>
                            {{ form.new_password2|add_class:'form-control' }}
                        </div>
                        <div class="form-group">
                            <input class="btn btn-primary" type="submit" value="Cambiar mi contraseña">
                        </div>

                    </form>
                {% else %}
                    <div class="alert alert-info">
                        <h2 class="text-center">ENLACE INVÁLIDO: ESTE ENLACE YA HA SIDO UTILIZADO</h2>
                    </div>
                    <div class="separator">

                        <a href="{% url 'login' %}" style="color: #428bca">Volver a inicio de sesión</a>

                        <div class="clearfix"></div>
                        <br />

                        <div>
                            <h1><i class="fa fa-paw"></i> Mi Hacienda!</h1>
                            <p>©2019 All Rights Reserved. Mi Hacienda Gestión Financiera!. Privacy and Terms</p>
                        </div>
                    </div>
                {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </article>
{% endblock content %}
