{% extends "base.html" %}

{% block title %} {% if object %} Editar Servicio {% else %} Crear Servicio {% endif %} {% endblock title %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="linebreak"></div>
      {% if object %}
      <h3>Editar Servicio</h3>
      {% else %}
      <h3>Crear Servicio</h3>
      {% endif %}
      <hr>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-sm-12 col-lx-12">
      {% if object %}
      <form action="{% url 'servicio:editar_servicio' object.pk %}" method="post" data-parsley-validate class="form-horizontal form-label-left">
      {% else %}
      <form action="{% url 'servicio:crear_servicio' %}" method="post" data-parsley-validate class="form-horizontal form-label-left">
      {% endif %}
        {% csrf_token %}
        {% load widget_tweaks %}
        <div class="form-group row">
          <label class="col-sm-2 col-form-label" for="nombre">Nombre <span class="required">*</span>
          </label>
          <div class="col-sm-10">
            {{ form.nombre |add_class:"required" |add_class:'form-control' }}
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-2 col-form-label" for="descripcion">Descripción <span class="required">*</span>
          </label>
          <div class="col-sm-10">
            {{ form.descripcion |add_class:"required" |add_class:'form-control' }}
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-2 col-form-label" for="iva">Porc. IVA <span class="required">*</span>
          </label>
          <div class="col-sm-10">
            {{ form.iva }}
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-2 col-form-label" for="ice">Deducible IR? <span class="required">*</span>
          </label>
          <div class="col-sm-10">
            {{ form.es_deducible }}
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-2 col-form-label" for="ice">Porc. ICE <span class="required">*</span>
          </label>
          <div class="col-sm-10">
            {{ form.ice }}
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-2 col-form-label" for="precio">Precio <span class="required">*</span>
          </label>
          <div class="col-sm-10">
            {{ form.precio }}
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-2 col-form-label" for="descuento">Porc. Descuento <span class="required">*</span>
          </label>
          <div class="col-sm-10">
            {{ form.descuento }}
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-2 col-form-label" for="unidad_medida">Uni. Medida <span class="required">*</span>
          </label>
          <div class="col-sm-10">
            {{ form.unidad_medida }}
          </div>
        </div>

        <fieldset class="form-group">
          <div class="row">
            <legend class="col-form-label col-sm-2 pt-0"></legend>
            <div class="col-sm-10">
              <div class="custom-control custom-checkbox mr-sm-2">
                {{ form.activo|attr:"class:custom-control-input" }}
                <label class="custom-control-label" for="es_activo">Servicio activo?</label>
              </div>
            </div>
          </div>
        </fieldset>

        <div class="ln_solid"></div>

        <div class="form-group row">
          <div class="col-sm-10 offset-sm-2">
            <button class="btn btn-secondary" type="button" onclick="location.href='{% url 'servicio:listado_servicios' %}';">Cancelar</button>
            <button type="submit" class="btn btn-primary"><span class="fa fa-save"></span> Guardar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <!-- /.row -->
</div>
{% endblock content %}
