{% load widget_tweaks %}

<form method="post" action="">
	{% csrf_token %}

  <div class="modal-header bg-danger text-white">
		<h4 class="modal-title">Eliminar Tarifa ICE</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>

	<div class="modal-body">
    <p class="font-bold">No podrá recuperar el registro eliminado.</p>
		<p class="delete-text">¿Estás seguro de que deseas eliminar la tarifa con el nombre
			<strong>{{object.descripcion}}</strong>?</p>
	</div>

  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
    <button type="submit" class="delete-btn btn btn-danger"><span class="fa fa-save"></span> Si, Eliminar</button>
  </div>
</form>
