thead th {
   background: #1e425f;
   color: white;
}

table { border:1px; padding:0;   border-collapse: separate; border-radius:10px; border-spacing:0 }
thead th:first-child { -webkit-border-radius:10px 0 0 0; border-left:none }
thead th:last-child{ -webkit-border-radius:0 10px 0 0; border-right:none }
