{% extends "base/base_site.html" %}

{% block title %} Alerta {% endblock title %}

{% block stylesheets %}
    {{ block.super }}

    <style>
        /* color de error modal form */
        .help-block{color:coral;
                    font-weight:bold;
        }
    </style>
{% endblock stylesheets %}

{% block content %}

    {% include "frontend/_modal.html" %}

    <div class="right_col" role="main">
        <div class="">
            <div class="page-title">
                <div class="title_left">
                    <h3>Período Contable</h3>
                </div>
                <!--
                <div class="title_right">
                    <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search for...">
                            <span class="input-group-btn">
                            <button class="btn btn-default" type="button">Go!</button>
                            </span>
                        </div>
                    </div>
                </div>
                -->
            </div>

            <div class="clearfix"></div>

            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Alerta</h2>
                            <ul class="nav navbar-right panel_toolbox">
                                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                    <ul class="dropdown-menu" role="menu">
                                        {% if not activo %}
                                        <li><a href="#crear_turno" class="create-shift">Abrir caja</a>
                                        </li>
                                        {% endif %}
                                        <li><a href="{{ request.META.HTTP_REFERER }}">Volver a página anterior</a>
                                        </li>
                                    </ul>
                                </li>
                                <li><a class="close-link"><i class="fa fa-close"></i></a>
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <div class="row">
                                <div class="col-md-offset-4 col-md-5">
                                <h1>Período Contable</h1>

                                {% if activo %}
                                <p>
                                    Ya existe un período contable activo.
                                </p>
                                <p>
                                    Volver a <a href="{% url 'contabilidad:listado_periodos' %}" style="color: #428bca">página de administración de períodos contables</a>.
                                </p>
                                {% else %}
                                <p>
                                    No existe período contable activo.
                                </p>
                                <p>
                                    Volver a <a href="{% url 'contabilidad:listado_periodos' %}" style="color: #428bca">página de administración de perídos contables</a>.
                                </p>
                                {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block javascripts %}
    {{ block.super }}

    <!-- You can alternatively load the minified version -->
    <script type="text/javascript" src="/static/vendors/bootstrap_modal_forms/js/jquery.bootstrap.modal.forms.js"></script>

    <script type="text/javascript">
        // Create shift button
        $(".create-shift").modalForm({formURL: "{% url 'contabilidad:crear_turno' %}"});
    </script>
{% endblock javascripts %}
