<form method="post" action="{% url 'producto:category_create' %}" class="js-category-create-form">
  {% csrf_token %}

  <!-- Modal Header -->
  <div class="modal-header">
    <h4 class="modal-title">Crear nueva categoría</h4>
    <button type="button" class="close" data-dismiss="modal">&times;</button>
  </div>

  <!-- Modal body -->
  <div class="modal-body">
    {% include 'includes/partial_form.html' %}
  </div>

  <!-- Modal footer -->
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
    <button type="submit" class="btn btn-primary">Crear categoría</button>
  </div>
</form>
