{% extends "base.html" %}

{% block title %} Ajuste de Inventario {% endblock title %}

{% load static %}

{% block extra_head %}
  <!-- librerías typeahead -->
  <link rel="stylesheet" type="text/css" href="/static/vendor/typeahead/css/typeaheadjs.css">
  <link rel="stylesheet" type="text/css" href="/static/vendor/typeahead/css/typeaheadbundle.css">
  <!-- librerías FormValidation -->
  <link rel="stylesheet" type="text/css" href="{% static 'vendor/formvalidation/css/formValidation.min.css' %}">

  <link rel="stylesheet" href="{% static 'css/_estilo_tabla_articulos.css' %}">
  <style>
    /*table { width: 100%; }
    td, th {text-align: left; white-space: nowrap;}
    td.numeric, th.numeric { text-align: right; }*/

    /* scrooll para typeahead */
    #scrollable-dropdown-menu .tt-menu {
      max-height: 250px;
      overflow-y: auto;
      /*background-color: red;*/
    }
    #prefetch_customer .tt-menu {
      max-height: 250px;
      overflow-y: auto;
    }
  </style>
{% endblock extra_head %}

{% block content %}
<div class="base_container">
  <div class="col-12">
    <div class="row">
      <div class="col-6">
        <h5>Ajuste Manual de Inventario <small>(Productos)</small></h5>
      </div>
      <div class="col-6">
        <div class="btn-group float-right" role="group" aria-label="Acciones">
          <button type="button" class="btn btn-primary btn-sm"
                  id="empty_shopping_cart">
                  <i class="fas fa-plus"></i> Nuevo
          </button>
          <button type="button" class="btn btn-secondary btn-sm"
                  onclick="location.href='{{ request.META.HTTP_REFERER }}';">
                  <i class="fas fa-undo"></i> Regresar
          </button>
        </div>
      </div>
    </div>
    <br>
    <!--<hr/>-->

    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <i class="fa fa-info fa-fw"></i> General
          </div>
          <div class="card-body">
            <div class="row">
              <div class="form-group col-md-6">
                <label for="id_ajuste">Motivo del Ajuste</label>
                <select  class="form-control" id="id_fuente">
                  {% for tipo_mov in object_list %}
                  <option value={{ tipo_mov.codigo }}>{{ tipo_mov.descripcion }}</option>
                  {% endfor %}
                </select>
                <small class="float-right">Motivo no listado aquí? <a href="#">Agregar nuevo</a> </small>
              </div>

              <div class="form-group col-md-4">
                <label for="id_destino">Almacén / Bodega</label>
                <select  class="form-control" id="id_destino">
                  {% for almacen in almacenes %}
                  <option value={{ almacen.almacen_id }}>{{ almacen.descripcion }}</option>
                  {% endfor %}
                </select>
                <small class="float-right">Almaceén no listado aquí? <a href="#">Agregar almacén</a> </small>
              </div>
              <div class="col-md-2">
                <label for="datepicker">Fecha del Ajuste</label>
                <input type="date" class="form-control" id="datepicker" value={{ fecha_operacion }} placeholder="DD/MM/AAAA">
              </div>
            </div>
            <!-- /.row -->

            <div class="row">
              <input type="hidden" name="id_producto" id="id_producto" />
              <div class="form-group col-md-6">
                <label for="scrollable-dropdown-menu">Producto</label>
                <div class="form-group">
                  <div id="scrollable-dropdown-menu">
                    <input type="text" class="typeahead tt-query form-control" autocomplete="off" spellcheck="false" id="typeahead_producto" placeholder="Buscar por código de barra o nombre del producto">
                  </div>
                  <small class="float-right">Producto no listado aquí? <a href="#"data-toggle="modal" data-target="#addProductTypeModal">Agregar nuevo</a> </small>
                </div>
              </div>

              <div class="form-group col-md-2">
                <input type="hidden" name="relacion_unidades" />
                <label for="id_unidad">Unidad</label>
                <select  class="form-control" id="id_unidad">
                  <!--
                  {% for unidad in unidades %}
                  <option value={{ unidad.unidad_id }}>{{ unidad.abreviatura }}</option>
                  {% endfor %}
                  -->
                </select>
                <small class="float-right">Almacén no listado aquí? <a href="#">Agregar almacén</a> </small>
              </div>

              <div class="form-group col-md-1">
                <input type="hidden" id="current_qty">
                <label for="qty_producto">Cantidad</label>
                <input type="text" class="form-control" id="qty_producto">
              </div>
              <div class="form-group col-md-2">
                <label for="product_cost">Costo</label>
                <input type="text" class="form-control" id="product_cost">
              </div>

              <div class="form-group col-md-1">
                <label for="addBtn"><span class="badge badge-warning">ACCIÓN ITEM</span></label>
                <button type="button" class="btn btn-primary btn-sm"
                        id="addBtn">
                        <i class="fas fa-plus"></i> Agregar
                </button>
              </div>
            </div>
            <!-- /.row -->
          </div>
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->

    <br>
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <i class="fa fa-list fa-fw"></i> Detalle
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-12">
                <section id="flip-scroll">
                  <table id="tbl_article" class="table table-bordered table-hover table-striped table-condensed cf">
                    <thead class="cf">
                      <tr>
                        <th style="display:none;">Codigo</th>
                        <th>#</th>
                        <th>Producto</th>
                        <th class="text-center">Unidad</th>
                        <th class="numeric">Cantidad</th>
                        <th class="numeric">Costo</th>
                        <th class="numeric">Total</th>
                        <th class="text-center">Acción</th>
                      </tr>
                    </thead>
                    <tbody id="cartBody">
                      <tr>
                        <td colspan="7" style = "text-align: center;">
                          <font color="red">¡ Ningún registro encontrado !</font>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </section>
              </div>
              <!-- /.col-md-12 -->
            </div>
            <!-- /.row -->
          </div>
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->

    <br>
    <div class="row">
      <div class="col-lg-12">
        <button type="submit" id="save_inventory" class="btn btn-sm btn-primary">
          <span class="glyphicon glyphicon-floppy-save"></span> Guardar
        </button>
        <button type="reset" id="empty_shopping_cart" class="btn btn-sm btn-danger">
          <span class="glyphicon glyphicon-trash"></span> Vaciar
        </button>
      </div>
      <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.col-md-12 -->
</div>
<!-- /.base_container -->

<!-- The form which is used to populate the item data -->
<form id="editItemForm" method="post" class="form-horizontal" style="display: none;" autocomplete="off">
  {% csrf_token %}
  <input type="hidden" name="id" disabled="disabled" />
  <div class="form-group">
    <label for="product">Producto</label>
    <input type="text" class="form-control" name="product" disabled="disabled">
  </div>

  <div class="form-group row">
    <label class="col-sm-4 col-form-label" for="qty">Cantidad <span class="required">*</span>
    </label>
    <div class="col-sm-8">
      <input type="text" class="form-control" name="qty" />
    </div>
  </div>

  <div class="form-group row" id="medida_productoFields">
    <input type="hidden" name="equivalencia" />
    <label class="col-sm-4 col-form-label" for="unit">Unidad <span class="required">*</span>
    </label>
    <div class="col-sm-8">
      <select class="form-control" name="unit" id="selectId">
      </select>
    </div>
  </div>

  <div class="form-group row" id="medida_servicioFields" style="display: none;">
    <label class="col-sm-4 col-form-label" for="unit_service">Unidad <span class="required">*</span>
    </label>
    <div class="col-sm-8">
      <select  class="form-control" name="unit_service">
        <!--
        {% for unidad in unidades_servicio %}
          <option value={{ unidad.abreviatura }}>{{ unidad.abreviatura }}</option>
        {% endfor %}
        -->
      </select>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-sm-4 col-form-label" for="price">Costo <span class="required">*</span>
    </label>
    <div class="col-sm-8">
      <input type="text" class="form-control" name="cost" />
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-3 float-right">
      <button type="submit" class="btn btn-primary">Actualizar</button>
    </div>
  </div>
</form>
<!-- End editItemForm-->

<!-- FORMULARIO LOTE -->
{% include 'includes/_lote_form_entrada.html' %}

{% endblock content %}

{% block extra_script %}
  <!-- jquery.inputmask -->
  <script src="{% static 'vendor/inputmask/jquery.inputmask.min.js' %}"></script>

  <!-- librerías typeahead -->
  <script src="{% static 'vendor/typeahead/js/typeahead.bundle.js' %}"></script>

  <!-- librerías FormValidation -->
  <script src="{% static 'vendor/formvalidation/js/FormValidation.min.js' %}"></script>
  <script src="{% static 'vendor/formvalidation/js/plugins/Bootstrap.min.js' %}"></script>

  <!-- librerías bootbox -->
  <script src="{% static 'vendor/bootbox/bootbox.min.js' %}"></script>

  <!-- librerías csrftoken protección csrf  -->
  <script src="{% static 'js/proteccion_csrf.js' %}"></script>

  <script type="text/javascript">
    $(document).ready(function() {
      cargarCarrito();

      $('[data-toggle="tooltip"]').tooltip();

      // Instantiate the Bloodhound suggestion engine
      var products = new Bloodhound({
        datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
        queryTokenizer: Bloodhound.tokenizers.whitespace,
        prefetch: {
          cache: false, //SIN CACHE
          url: "{% url 'almacen:product_lookup' %}",
          filter: function (products) {
            return $.map(products, function (product) {
              return {
                id: product.producto_id,
                name: product.nombre + ' - ' + product.codigo_principal,
                existencia: product.existencia
              };
            });
          }
        }
      });

      // Initialize the Bloodhound suggestion engine, SIN CHACHE
      products.clearRemoteCache();
      products.initialize(true);

      $('#typeahead_producto').typeahead({
        hint: true,
        highlight: true, /* Enable substring highlighting */
        minLength: 1 /* Specify minimum characters required for showing suggestions */
      },
      {
        limit: 50, // This controls the number of suggestions displayed
        displayKey: 'name',
        source: products.ttAdapter(),
        templates: {
          suggestion: function (data) {
            //return '<p><strong>' + data.name + '</strong> - '+ data.id +'</p>';
            return '<p>' + data.name + '<strong style="color:coral;"> <span class="glyphicon glyphicon-hand-right"></span> ' + parseFloat(data.existencia).toFixed(2) + '</strong></p>';

          }
        }
      }).on('typeahead:selected', function($e, datum){
        var dataId = datum["id"];
        agregarItem(dataId);

        // borrar producto de input text typeahead
        $(this).typeahead('val', '');
        $(this).typeahead('close');
      }).on('typeahead:autocompleted', function(object, datum){
        $(this).trigger('typeahead:_done', [object, datum]);

        $(this).typeahead('val', '');
        $(this).typeahead('close');
      });
    });

    // permitir solo datos númericos con decimales
    $("#qty_producto").on("keypress keyup blur",function (event) {
      $(this).val($(this).val().replace(/[^0-9\.]/g,''));
      if ((event.which != 46 || $(this).val().indexOf('.') != -1) && (event.which < 48 || event.which > 57)) {
        event.preventDefault();
      }
    });

    // permitir solo datos númericos con decimales
    $("#product_cost").on("keypress keyup blur",function (event) {
      $(this).val($(this).val().replace(/[^0-9\.]/g,''));
      if ((event.which != 46 || $(this).val().indexOf('.') != -1) && (event.which < 48 || event.which > 57)) {
        event.preventDefault();
      }
    });

    // cambiar precio si cambia unidad de medida
    $('#id_unidad').on('change', function () {
      var optionSelected = $("option:selected", this);
      var valueSelected = this.value;
      var text = $(this).find(":selected").text();

      var precio_actual = $('#product_cost').val();
      var relacion = $('input[name="relacion_unidades"]').val();

      if (text.substring(0, 2) == '* ') {
        // unidad principal
        var nuevo_precio = precio_actual * relacion;
        $('#product_cost').val(nuevo_precio.toFixed(5));

      } else {
        // unidad secundaria
        var nuevo_precio = precio_actual / relacion;
        $('#product_cost').val(nuevo_precio.toFixed(5));
      }
    });

    function agregarItem($param) {
      $.ajax({
        url: "{% url 'almacen:buscar_producto' %}",
        data: { producto_id: $param },
        dataType: 'json',
        success: function(response, textStatus, xhr) {
          var product = response.product;
          var productId = response.productId;
          $("#id_producto").val(productId);
          $("#typeahead_producto").typeahead('val', product);
          // cambiar unidad del producto

          // DESACTIVAR OTRAS UNIDADES Y SOLO DEJAR ACTIVAS PRIMARIA Y SECUNDARIA
          /*$("#id_unidad").val(response.unitId);
          var select = $("#id_unidad");
          select.find("option").each(function(index, item) {
            if ((item.value != response.unitId) && (item.value != response.unitSecondaryId)) {
              $(item).attr('disabled', true);
            } else {
              $(item).attr('disabled', false);
            }
          });*/

          // eliminar unidades existentes y agrega unidad principal y secundaria
          $("#id_unidad").children().remove().end()
            .append('<option selected value="' + response.unit_primary + '">* ' + response.unit_primary + '</option>');
            //.append('<option selected value="' + response.unit_secondary + '">' + response.unit_secondary + '</option>');
            //.append('<option selected value="whatever">text</option>') ;

          //console.log(response);
          if (response.unit_secondary != null) {
            $('#id_unidad')
              .append('<option selected value="' + response.unit_secondary + '">' + response.unit_secondary + '</option>');
          }

          $("#id_unidad").val(response.unit_primary);
          $("input[name='relacion_unidades']").val(response.unit_equivalence);

          //console.log("AHORA AQUI... COSTO=" + response.cost);
          // cambiar precio de costo
          $("#product_cost").val(response.cost);

          // envia el foco a cantidad
          $("#current_qty").val(response.stock);
          $("#qty_producto").val('1');
          $("#qty_producto").focus().select();
        },
        error : function(xhr, textStatus, errorThrown) {
          mensaje(errorThrown, 'error');
        }
      });
    }

    $('#qty_producto').keydown(function (event) {
      if (event.keyCode == 13 && $(this).val() != '') {
        event.preventDefault();
        $('#product_cost').focus().select();
      }
    });

    $('#product_cost').keydown(function (event) {
      if (event.keyCode == 13 && $("#id_producto").val() != ''
      && $("#qty_producto").val() != '' && $(this).val() != '') {
        event.preventDefault();
        // programmatically trigger the click
        //$('#addBtn').click();
        $('#addBtn').focus();
        return false;
      }
    });

    // cambiar precio si cambia unidad de medida
    $('#selectId').on('change', function () {
      var optionSelected = $("option:selected", this);
      var valueSelected = this.value;
      var text = $(this).find(":selected").text();

      var costo_actual = $('input[name="cost"]').val();
      var equivalencia = $('input[name="equivalencia"]').val();

      if (text.substring(0, 2) == '* ') {
        // unidad principal
        var nuevo_precio = costo_actual * equivalencia;
        $('input[name="cost"]').val(nuevo_precio.toFixed(5));

      } else {
        // unidad secundaria
        var nuevo_precio = costo_actual / equivalencia;
        $('input[name="cost"]').val(nuevo_precio.toFixed(5));

        // revalidar cantidad
        $fieldQty = $('#editItemForm').find('input[name="qty"]');
        $('#editItemForm').formValidation('revalidateField', 'qty');

      }
    });

    const editForm = document.getElementById('editItemForm');
    const fv_edit = FormValidation
      .formValidation(editForm, {
        fields: {
          qty: {
            validators: {
              numeric: {
                message: 'La cantidad debe ser un número',
                // The default separators
                thousandsSeparator: '',
                decimalSeparator: ','
              },
              callback: {
                message: 'Por favor especifique una cantidad válida.',
                callback: function(value, validator, $field) {
                  //var channel = $('#surveyForm').find('[name="channel"]:checked').val();
                  var cantidad = $('#editItemForm').find('[name="qty"]').val();
                  var equivalencia = $('#editItemForm').find('[name="equivalencia"]').val();
                  var unidad = $('#editItemForm').find('[name="unit"] option:selected').text();

                  //console.log(unidad);
                  if (unidad.substring(0, 2) != '* ') {
                    if ((toFloat(cantidad) < toFloat(equivalencia)) && (toFloat(cantidad) > 0)) {
                      return true;
                    } else {
                      return false;
                    }
                  } else {
                    return (toFloat(cantidad) > 0)
                          ? true
                          : false;
                  }
                }
              }
            }
          },
          unit: {
            validators: {
              notEmpty: {
                message: 'Por favor seleccione una unidad'
              },
            }
          },
          cost: {
            validators: {
              numeric: {
                message: 'La cantidad debe ser un número',
                // The default separators
                thousandsSeparator: '',
                decimalSeparator: ','
              },
              notEmpty: {
                message: 'El valor no puede ser nulo'
              },
            }
          }
        },
        plugins: {
          trigger: new FormValidation.plugins.Trigger(),
          bootstrap: new FormValidation.plugins.Bootstrap(),
          submitButton: new FormValidation.plugins.SubmitButton(),
          icon: new FormValidation.plugins.Icon({
            valid: 'fa fa-check',
            invalid: 'fa fa-times',
            validating: 'fa fa-refresh',
          }),
        },
      })
      .on('core.form.valid', function() {

        var id = editForm.querySelector('[name="id"]').value;

        var data = {
          'id' : id
        };

        $.ajax({
          url: "{% url 'almacen:cartfit_update' %}",
          method: 'POST',
          data: $(editForm).serialize() + '&' + $.param(data),
          success: function(response, textStatus, xhr) {
            //console.log(response);
            showCart(response);

            // Hide the dialog
            $(editForm).parents('.bootbox').modal('hide');
          },
          error : function(xhr, textStatus, errorThrown) {
            mensaje(textStatus, 'error');
          }
        });
      });

    // botones tabla, acción editar
    $("#tbl_article").on('click','.editButton',function(){
      var id = $(this).attr('data-id');
      $.ajax({
        url: "{% url 'almacen:cartfit_update' %}",
        method: 'GET',
        data: { id: id },
        success: function(response, textStatus, xhr) {
          // eliminar unidades existentes y agrega unidad principal y secundaria
          $('#editItemForm')
            .find('[name="unit"]').children().remove().end()
            .append('<option selected value="' + response.unit_primary + '">* ' + response.unit_primary + '</option>');

          if (response.unit_secondary != null) {
            $('#editItemForm')
              .find('[name="unit"]')
              .append('<option selected value="' + response.unit_secondary + '">' + response.unit_secondary + '</option>');
          }

          // Show the dialog
          bootbox
            .dialog({
              title: 'Editar item',
              message: editForm,
              onEscape: true,
              show: false // We will show it manually later
            })
            .on('shown.bs.modal', function() {
              // Show the cash form
              editForm.style.display = 'block';

              // Reset form
              fv_edit.resetForm(true);

              // Populate the form fields with the data returned from server
              $('#editItemForm')
                .find('[name="id"]').val(response.id).end()
                .find('[name="product"]').val(response.product).end()
                .find('[name="qty"]').val(toFloat(response.qty).toLocaleString()).end()
                .find('[name="unit"]').val(response.unit).end()
                .find('[name="equivalencia"]').val(response.unit_equivalence).end()
                .find('[name="cost"]').val(toFloat(response.cost).toLocaleString()).end(); // en ventas 'price'

              // producto
              $('#medida_servicioFields').css('display', 'none');
              //$('#medida_productoFields').css('display', 'block');
              $('#editItemForm')
              	.find('[name="unit"]').val(response.unit).end();

              $('#editItemForm')
                .find('[name="qty"]').focus().select();
            })
            .on('hide.bs.modal', function() {

              editForm.style.display = 'none';
              document.body.appendChild(editForm);
            })
            .modal('show');
        },
        error : function(xhr, textStatus, errorThrown) {
          mensaje(textStatus, 'error');
        }
      });
    });

    /**
     * botones tabla, acción search
     * LOTE DEL PRODUCTO
     */
    $("#table").on('click','.searchButton',function(){
      // eliminar todos los campos dinamicos
      $('.removeButton').click();

      // Get the record's ID via attribute
      var id = $(this).attr('data-id');
      var csrftoken = getCookie('csrftoken');

      $.ajax({
        headers: { "X-CSRFToken": csrftoken },
        url: "{% url 'almacen:ajuste_agregar_lote' %}",
        method: 'GET',
        data: { id: id },
        success: function(response, textStatus, xhr) {

          // Populate the form fields with the data returned from server
          $('#loteForm')
            .find('[name="id"]').val(response.cesta_item_pk).end();

          // Show the dialog
          bootbox
            .dialog({
              title: 'Agregar Lote',
              message: loteForm,
              size: 'large',
              onEscape: true,
              show: false // We will show it manually later
            })
            .on('shown.bs.modal', function() {
              // Show the cash form
              loteForm.style.display = 'block';
            })
            .on('hide.bs.modal', function() {
              loteForm.style.display = 'none';
              document.body.appendChild(loteForm);
            })
            .modal('show');
        },
        error: function(xhr, textStatus, errorThrown) {
          $.alert({
            icon: 'fas fa-bug',
            title: 'Error!',
            theme: 'material',
            type: 'red',
            content: errorThrown,
          });
        }
      });
    });

    document.addEventListener('DOMContentLoaded', function(e) {
      const tituloValidators = {
        validators: {
          notEmpty: {
            message: 'Lote requerido'
          },
          stringLength: {
            //min: 1,
            max: 10,
            message: 'El lote debe tener menos de 10 caractere.'
          },
        }
      };
      const fechaValidators = {
        validators: {
          notEmpty: {
            message: 'Fecha requerida'
          }
        }
      };
      const cantidadValidators = {
        validators: {
          numeric: {
            message: 'La cantidad debe ser un número',
            // The default separators
            thousandsSeparator: '',
            decimalSeparator: ','
          },
          notEmpty: {
            message: 'El valor no puede ser nulo'
          },
          greaterThan: {
            message: 'El valor debe ser mayor a cero.',
            inclusive: false,
            min: 0,
          }
        }
      };

      const loteForm = document.getElementById('loteForm');
      const fv = FormValidation.formValidation(loteForm, {
        fields: {
            'lote[0].titulo': tituloValidators,
            'lote[0].fecha': fechaValidators,
            'lote[0].cantidad': cantidadValidators,
        },
        plugins: {
          trigger: new FormValidation.plugins.Trigger(),
          bootstrap: new FormValidation.plugins.Bootstrap(),
          submitButton: new FormValidation.plugins.SubmitButton(),
          icon: new FormValidation.plugins.Icon({
            valid: 'fa fa-check',
            invalid: 'fa fa-times',
            validating: 'fa fa-refresh',
          }),
        }
      }
      )
      .on('core.form.valid', function() {
        csrfmiddlewaretoken = $(loteForm).find("input[name='csrfmiddlewaretoken']" ).val();
        formData = $(loteForm).serializeArray();
        formData = JSON.stringify(formData);

        // The url and method might be different in your application
        $.ajax({
          url: "{% url 'compra:agregar_lote' %}",
          method: 'POST',
          data : {
            "csrfmiddlewaretoken" : csrfmiddlewaretoken,
            "formData" : formData
          },
          success: function(response, textStatus, xhr) {
            if (response.success == true) {
              // Hide the dialog
              $(loteForm).parents('.bootbox').modal('hide');
            }
          },
          error : function(xhr, textStatus, errorThrown) {
            $.alert({
              icon: 'fas fa-bug',
              title: 'Error!',
              theme: 'material',
              type: 'red',
              content: errorThrown,
            });
          }
        });
      });

      const removeRow = function(rowIndex) {
        const row = loteForm.querySelector('[data-row-index="' + rowIndex + '"]');

        // Remove field
        fv.removeField('lote[' + rowIndex + '].titulo')
          .removeField('lote[' + rowIndex + '].fecha')
          .removeField('lote[' + rowIndex + '].cantidad');

        // Remove row
        row.parentNode.removeChild(row);
      };

      const template = document.getElementById('lotearrayTemplate');
      let rowIndex = 0;
      document.getElementById('js-lote-add-button').addEventListener('click', function() {
        rowIndex++;

        const clone = template.cloneNode(true);
        clone.removeAttribute('id');

        // Show the row
        clone.style.display = 'block';

        clone.setAttribute('data-row-index', rowIndex);

        // Insert before the template
        template.before(clone);

        clone.querySelector('[data-name="lote.titulo"]').setAttribute('name', 'lote[' + rowIndex + '].titulo');
        clone.querySelector('[data-name="lote.fecha"]').setAttribute('name', 'lote[' + rowIndex + '].fecha');
        clone.querySelector('[data-name="lote.cantidad"]').setAttribute('name', 'lote[' + rowIndex + '].cantidad');

        // Add new fields
        // Note that we also pass the validator rules for new field as the third parameter
        fv.addField('lote[' + rowIndex + '].titulo', tituloValidators)
          .addField('lote[' + rowIndex + '].fecha', fechaValidators)
          .addField('lote[' + rowIndex + '].cantidad', cantidadValidators);

        // Handle the click event of removeButton
        const removeBtn = clone.querySelector('.js-lote-remove-button');
        removeBtn.setAttribute('data-row-index', rowIndex);
        removeBtn.addEventListener('click', function(e) {
          // Get the row index
          const index = e.target.getAttribute('data-row-index');
          removeRow(index);
        });
      });
    });

    $('.addButton').on('click', function() {
      var index = $(this).data('index');
      if (!index) {
          index = 1;
          $(this).data('index', 1);
      }
      index++;
      $(this).data('index', index);

      var template     = $(this).attr('data-template'),
          $templateEle = $('#' + template + 'Template'),
          $row         = $templateEle.clone().removeAttr('id').insertBefore($templateEle).removeClass('hide'),
          $pk          = $row.find('input').eq(0).attr('name', 'pkbox[]');
          $el          = $row.find('input').eq(1).attr('name', 'lotebox[]');
          //$el_des          = $row.find('input').eq(1).attr('name', template + '[]');
          $el_exp          = $row.find('input').eq(2).attr('name', 'expbox[]');
          $el_qty          = $row.find('input').eq(3).attr('name', 'qtybox[]');

      $('#loteForm').formValidation('addField', $pk);
      $('#loteForm').formValidation('addField', $el);
      //$('#loteForm').formValidation('addField', $el_des);
      $('#loteForm').formValidation('addField', $el_exp);
      $('#loteForm').formValidation('addField', $el_qty);
      $el.attr('placeholder', 'Lote #' + index);
      //$el_des.attr('placeholder', 'Descripción #' + index);
      //$el_exp.attr('title', 'Fecha Expira #' + index);
      $el_exp.attr('data-original-title', 'Fecha Expira #' + index).tooltip('fixTitle').tooltip('show');
      $el_qty.attr('placeholder', 'Cantidad #' + index);

      $row.on('click', '.removeButton', function(e) {
        $('#loteForm').formValidation('removeField', $pk);
        $('#loteForm').formValidation('removeField', $el);
        //$('#loteForm').formValidation('removeField', $el_des);
        $('#loteForm').formValidation('removeField', $el_exp);
        $('#loteForm').formValidation('removeField', $el_qty);
        $row.remove();
      });
    });

    //////////////// botones tabla, acción delete ////////////////
    $("table").on('click','.deleteButton',function(){
      // Get the record's ID via attribute
      var id = $(this).attr('data-id');

      var csrftoken = getCookie('csrftoken');
      $.ajax({
        headers: { "X-CSRFToken": csrftoken },
        type: "POST",
        url: "{% url 'almacen:cartfit_remove' %}",
        dataType: 'json',
        data: { cesta_id: id, },
        success: function(response, textStatus, xhr){
          showCart(response);
        },
        error : function(xhr, textStatus, errorThrown) {
          mensaje(errorThrown, 'error');
        }
      });
    });

    $('#addBtn').click(function(e){
      e.preventDefault();

      // revalidar cantidad para fracción
      var fraccionValida = true;
      var cantidad_actual = $('#qty_producto').val();
      var relacion = $('input[name="relacion_unidades"]').val();

      var text = $('#id_unidad option:selected').text();
      if (text.substring(0, 2) != '* ') {
        if (parseFloat(cantidad_actual) >= parseFloat(relacion)) {
          fraccionValida = false;
        }
      }

      if ($("#id_producto").val() != '' && $("#qty_producto").val() != ''
      && $("#product_cost").val() != '' && fraccionValida) {
        var warehouse = $("#id_destino").val();
        var productId = $('#id_producto').val();
        var productName = $("#typeahead_producto").val();
        var productQty = $("#qty_producto").val();
        var productCost = $("#product_cost").val();
        //var productUnit = $( "#id_unidad option:selected" ).text();
        var productUnit = $( "#id_unidad" ).val();

        var currentQty = $("#current_qty").val();
        var movType = $('#id_fuente').val();

        if (movType == 'INV_INI') {
          //VERIFICA SI EXISTE INVENTARIO INICIAL
          $.ajax({
            url: "{% url 'almacen:stock_is_exist' %}",
            method: 'GET',
            data: { productoId: productId, almacenId: warehouse },
            success: function(response, textStatus, xhr){
              //console.log(response);
              if (response.isExist) {
                mensaje('El producto ya existe en inventario', 'error');
                return false;
              } else {
                var transDate = $("#datepicker").val();
                var current_time = new moment().format("HH:mm:ss");
                transDate = transDate + ' ' + current_time

                // enviar al carrito
                var csrftoken = getCookie('csrftoken');
                $.ajax({
                  headers: { "X-CSRFToken": csrftoken },
                  type: "POST",
                  //url: "../../carton/add/" + productId,
                  url: "../ajuste/add/" + productId,
                  dataType: 'json',
                  data: {
                    unit: productUnit,
                    quantity: productQty,
                    cost: productCost,
                    current_qty: currentQty,

                    reason: movType,
                    warehouse: warehouse,
                    trans_date: transDate,
                  },
                  success: function(response, textStatus, xhr){
                    showCart(response);
                  },
                  error : function(xhr, textStatus, errorThrown) {
                    mensaje(errorThrown, 'error');
                  }
                });
              }
            },
            error : function(xhr, textStatus, errorThrown) {
              mensaje(errorThrown, 'error');
            }
          });
        } else {
          if (movType == 'SAL_AJFAL'){
            //AJUSTE POR FALTANTE DE INVENTARIOS
            if (parseFloat(currentQty) == 0 || parseFloat(productQty) > parseFloat(currentQty)) {
              mensaje('Cantidad superior a la existencia', 'error');
              return false;
            }
          }

          var transDate = $("#datepicker").val();
          var current_time = new moment().format("HH:mm:ss");
          transDate = transDate + ' ' + current_time

          // enviar al carrito
          var csrftoken = getCookie('csrftoken');
          $.ajax({
            headers: { "X-CSRFToken": csrftoken },
            type: "POST",
            //url: "../../carton/add/" + productId,
            url: "../ajuste/add/" + productId,
            dataType: 'json',
            data: {
              unit: productUnit,
              quantity: productQty,
              cost: productCost,
              current_qty: currentQty,

              reason: movType,
              warehouse: warehouse,
              trans_date: transDate,
            },
            success: function(response, textStatus, xhr){
              showCart(response);
            },
            error : function(xhr, textStatus, errorThrown) {
              mensaje(errorThrown, 'error');
            }
          });
        }
      } else {
        mensaje('Producto mal ingresado', 'error');
      }
    });

    //////////////// botón de acción Recibir Inventario ////////////////
    $('#save_inventory').click(function(e){
      e.preventDefault();
      //var motivo = $("#motivo").val();

      $.ajax({
        url: "/cesta/total_filas_cesta/?key=CART-INV_AJUSTE",
        success: function(response, textStatus, xhr) {
          if (!response.is_empty) {
            $.ajax({
              type: "GET",
              url: "{% url 'almacen:cartfit_save' %}",
              //data: { motivo: motivo },
              success: function(response, textStatus, xhr){
                // Eliminar filas guardadas
                document.querySelectorAll("table tbody tr").forEach(function(e){e.remove()});

                // Agregar Fila: ¡ Ningún registro encontrado !
                var markup = "<tr><td colspan='7' style = 'text-align: center;'>"
                + "<font color='red'>¡ Ningún registro encontrado !</font></td></tr>";

                $("table tbody").append(markup);
                //$("#motivo").val('');
                mensaje('Inventario ajustado', 'success');
              },
              error : function(xhr, textStatus, errorThrown) {
                mensaje(errorThrown, 'error');
              }
            });
          } else {
            mensaje('No existe items', 'error');
          }
        },
        error: function(xhr, textStatus, errorThrown) {
          mensaje(errorThrown, 'error');
        }
      });
    });

    function cargarCarrito() {
      //Recibir Inventario
      $.ajax({
        type: "GET",
        url: "{% url 'almacen:ajuste_cart_show' %}",
        success: function(response, textStatus, xhr){
          showCart(response);
        },
        error : function(xhr, textStatus, errorThrown) {
          mensaje(errorThrown, 'error');
        }
      });
    }

    function showCart(response) {
      $("#cartBody").empty();
      cart = JSON.parse(response.cart);
      if (cart.length == 0) {
        //$("#cart").css("visibility", "hidden");
        var markup = "<tr><td colspan='7' style = 'text-align: center;'>"
        + "<font color='red'>¡ Ningún registro encontrado !</font></td></tr>";
        $("table tbody").append(markup);
        return;
      }

      for (var i in cart) {
        var item = cart[i];
        var row = "<tr><td style='display:none;'>" + item.cesta_pk + "</td>" +
          "<td data-title='#'>" + (parseInt(i) + 1) + "</td>" +
          "<td data-title='Producto'>" + item.name + "</td>" +
          "<td data-title='Unidad' class='text-center'>" + item.unit + "</td>" +
          "<td data-title='Cantidad' class='numeric'>" + parseFloat(item.quantity).toFixed(2) + "</td>" +
          "<td data-title='Costo' class='numeric'>" + parseFloat(item.price).toFixed(3) + "</td>" +
          "<td data-title='Total' class='numeric'>" + parseFloat(item.subtotal).toFixed(3) + "</td>" +
          "<td data-title='Acción' class='text-center'>" +
            "<div class='btn-group btn-group-sm'>" +
              "<button type='button' data-id=" + item.cesta_pk + " class='btn btn-primary editButton' data-toggle='tooltip' title='Editar Item'><i class='fas fa-edit'></i></button>" +
            "</div>&nbsp;"+
            "<div class='btn-group btn-group-sm'>" +
              "<button type='button' data-id=" + item.cesta_pk + " class='btn btn-warning deleteButton' data-toggle='tooltip' title='Eliminar Item'><i class='fas fa-trash'></i></button>" +
            "</div>" +
          "</td>" +
          "</tr>";
        $("#cartBody").append(row);
      }
    }

    // botón vaciar carrito
    $('#empty_shopping_cart').click(function(e){
      e.preventDefault();
      $.ajax({
        url: "/cesta/vaciar_cesta/?key=CART-INV_AJUSTE",
        success: function(response, textStatus, xhr) {
          //eliminar tabla
          document.querySelectorAll("#cart tbody tr").forEach(function(e){e.remove()});

          // Agregar Fila: ¡ Ningún dato disponible en el carrito !
          var markup = "<tr><td colspan='7' style = 'text-align: center;'>"
          + "<font color='red'>¡ Ningún registro encontrado !</font></td></tr>";

          $("#cartBody").append(markup);
        },
        error: function(xhr, textStatus, errorThrown) {
            mensaje(errorThrown, 'error');
        }
      });
      return false;
    });
  </script>
{% endblock extra_script %}
