<!--<nav class="navbar navbar-expand-md navbar-light bg-light">-->
<nav class="navbar navbar-expand-lg sticky-top navbar-light bg-light">
  <a class="navbar-brand pb-2" href="#">FACTURAE</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item {% if active_tab == 'tab_home' %} active {% endif %}">
        <a class="nav-link" href="{% url 'dashboard:home' %}">{% if user.is_authenticated %} <i class="fas fa-tachometer-alt"></i> Tablero {% else %} <i class="fas fa-home"></i> Inicio {% endif %}</a>
      </li>
      {% if not user.is_authenticated %}
      <li class="nav-item {% if active_tab == 'tab_about' %} active {% endif %}">
        <a class="nav-link" href="{% url 'dashboard:about_us' %}">Nosotros</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Servicios
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <li><a class="dropdown-item" href="#">Desarrollo de software</a></li>
          <li><a class="dropdown-item" href="#">Diseño y desarrollo web</a></li>
          <li><a class="dropdown-item" href="#">Aplicaciones moviles</a></li>
          <li><a class="dropdown-item" href="#">Soluciones comerciales y procesos comerciales</a></li>
          <li><a class="dropdown-item" href="#">Servicios de marketing digital y SEO</a></li>
          <li><a class="dropdown-item" href="#">Hospedaje Web y Mantenimiento</a></li>
          <li><a class="dropdown-item" href="#">Seguridad cibernética</a></li>
          <li><a class="dropdown-item" href="#">Implementación de cadena de bloques</a></li>
          <li><a class="dropdown-item" href="#">Big Data</a></li>
        </ul>
      </li>
      <li class="nav-item {% if active_tab == 'tab_portfolio' %} active {% endif %}">
        <a class="nav-link" href="{% url 'dashboard:portfolio' %}">Portafolio</a>
      </li>
      <!--<li class="nav-item"><a class="nav-link" href="#">Careers</a></li>-->
      <li class="nav-item {% if active_tab == 'tab_contact' %} active {% endif %}">
        <a class="nav-link" href="{% url 'dashboard:contact_us' %}">Contáctenos</a>
      </li>
      {% endif %}
      <!--========-->
      {% if user.is_authenticated %}
      <li class="nav-item {% if active_tab == 'tab_tpv' %} active {% endif %}">
        <a class="nav-link" href="{% url 'venta:tpv' %}"><i class="fas fa-cash-register"></i> TPV</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Ventas
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <li><a class="dropdown-item" href="{% url 'venta:crear_venta' %}"><i class="fa fa-plus"></i> Agregar Venta</a></li>
          <li><a class="dropdown-item" href="{% url 'venta:listado_ventas' %}"><i class="fa fa-shopping-cart"></i> Gestor de Ventas</a></li>
          <div class="dropdown-divider"></div>
          <h6 class="dropdown-header">Cliente</h6>
          <li><a class="dropdown-item" href="{% url 'cliente:crear_cliente' %}"> <i class="fa fa-plus"></i> Agregar Cliente</a></li>
          <li><a class="dropdown-item" href="{% url 'cliente:listado_clientes' %}"><i class="fa fa-id-card"></i> Gestor de Clientes</a></li>
          <div class="dropdown-divider"></div>
          <li><a class="dropdown-item" href="{% url 'venta:cuentas_cobrar' %}"><i class="fas fa-funnel-dollar"></i> Gestor Ctas. por Cobrar</a></li>
          <li><a class="dropdown-item" href="javascript:reprint();"><i class="fa fa-print"></i> Reimpresión de Comprobantes</a></li>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Compras
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <li><a class="dropdown-item" href="{% url 'compra:ingresar_compra' %}"> <i class="fa fa-plus"></i> Agregar Compra</a></li>
          <li><a class="dropdown-item" href="{% url 'compra:listado_compras' %}"><i class="fa fa-truck"></i> Gestor de Compras</a></li>
          <div class="dropdown-divider"></div>
          <h6 class="dropdown-header">Proveedores</h6>
          <li><a class="dropdown-item" href="{% url 'proveedor:crear_proveedor' %}"> <i class="fa fa-plus"></i> Agregar Proveedor</a></li>
          <li><a class="dropdown-item" href="{% url 'proveedor:listado_proveedores' %}"><i class="far fa-id-card"></i> Gestor de Proveedores</a></li>
          <div class="dropdown-divider"></div>
          <li><a class="dropdown-item" href="{% url 'compra:cuentas_pagar' %}"><i class="fas fa-funnel-dollar"></i> Gestor Ctas. por Pagar</a></li>
          <li><a class="dropdown-item" href="{% url 'retencion:listado_retenciones' %}"><i class="fas fa-coins"></i> Gestor de Retenciones</a></li>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Productos
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <h6 class="dropdown-header">Inventario</h6>
          <li><a class="dropdown-item" href="#" data-toggle="modal" data-target="#addProductModal"> <i class="fa fa-plus"></i> Agregar Producto</a></li>
          <li><a class="dropdown-item" href="{% url 'producto:listado_productos' %}"><i class="fab fa-untappd"></i> Todos los Productos</a></li>
          <div class="dropdown-divider"></div>
          <h6 class="dropdown-header">Categorías de Productos</h6>
          <li><a class="dropdown-item" href="#" data-toggle="modal" data-target="#addProductTypeModal"> <i class="fa fa-plus"></i> Agregar Categoría</a></li>
          <li><a class="dropdown-item" href="#"><i class="fas fa-pallet"></i> Gestor de Categorías</a></li>
          <div class="dropdown-divider"></div>
          <h6 class="dropdown-header">Unidades de Productos</h6>
          <li><a class="dropdown-item" href="#" data-toggle="modal" data-target="#addProductTypeModal"> <i class="fa fa-plus"></i> Agregar Unidad</a></li>
          <li><a class="dropdown-item" href="{% url 'unidadmedida:listado_unidades' %}"><i class="fab fa-untappd"></i> Gestor de Unidades</a></li>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Servicios
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <li><a class="dropdown-item" href="#" data-toggle="modal" data-target="#addProductModal"><i class="fa fa-plus"></i> Agregar Servicio</a></li>
          <li><a class="dropdown-item" href="{% url 'servicio:listado_servicios' %}"><i class="fab fa-servicestack"></i> Gestor de Servicio</a></li>
          <div class="dropdown-divider"></div>
          <h6 class="dropdown-header">Clases de Servicio</h6>
          <li><a class="dropdown-item" href="#" data-toggle="modal" data-target="#addProductTypeModal"> <i class="fa fa-plus"></i> Agregar Nueva Clase</a></li>
          <li><a class="dropdown-item" href="#"> <i class="fa fa-tags"></i> Gestor de Clase</a></li>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Inventario
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <li><a class="dropdown-item" href="{% url 'almacen:kardex' %}"><i class="fas fa-compress-arrows-alt"></i> Tarjeta Kardex...</a></li>
          <div class="dropdown-divider"></div>
          <h6 class="dropdown-header">Reportes</h6>
          <li><a class="dropdown-item" href="{% url 'almacen:existencias' %}"><i class="fas fa-socks"></i> Existencias</a></li>
          <li><a class="dropdown-item" href="{% url 'almacen:consolidado_productos' %}"><i class="fas fa-cubes"></i> Consolidado de Productos</a></li>
          <li><a class="dropdown-item" href="{% url 'almacen:consolidado_movimientos' %}"><i class="fas fa-exchange-alt"></i> Consolidado de Movimientos</a></li>
          <div class="dropdown-divider"></div>
          <h6 class="dropdown-header">Movimientos</h6>
          <li><a class="dropdown-item" href="{% url 'almacen:listado_entradas' %}"><i class="fa fa-plus"></i> Entradas</a></li>
          <li><a class="dropdown-item" href="{% url 'almacen:listado_salidas' %}"><i class="fas fa-minus"></i> Salidas</a></li>
          <li><a class="dropdown-item" href="{% url 'almacen:listado_ajustes' %}"><i class="fab fa-mixer"></i> Ajustes</a></li>
          <div class="dropdown-divider"></div>
          <h6 class="dropdown-header">Almacenes</h6>
          <li><a class="dropdown-item" href="#" data-toggle="modal" data-target="#addProductModal"> <i class="fa fa-plus"></i> Agregar Almacén</a></li>
          <li><a class="dropdown-item" href="{% url 'almacen:listado_almacenes' %}"><i class="fas fa-warehouse"></i> Gestor de Almacenes</a></li>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Contabilidad
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <li><a class="dropdown-item" href="#" data-toggle="modal" data-target="#addProductModal"><i class="fa fa-book"></i> Gestor de Libro Diario</a></li>
          <li><a class="dropdown-item" href="{% url 'servicio:listado_servicios' %}"><i class="fa fa-list-alt"></i> Gestor de Plan de Cuentas</a></li>
          <li><a class="dropdown-item" href="{% url 'contabilidad:listado_asientos_automaticos' %}"><i class="fa fa-magic"></i> Gestor de Asientos Automáticos</a></li>
          <li><a class="dropdown-item" href="{% url 'contabilidad:listado_periodos' %}"><i class="fas fa-spinner"></i> Gestor de Períodos Contables</a></li>
          <div class="dropdown-divider"></div>
          <li><a class="dropdown-item" href="{% url 'contabilidad:resumen_sri' %}"><i class="fas fa-file-invoice"></i> Resumen Administración Tributaria</a></li>
          <li><a class="dropdown-item" href="#"><img title="facebook" alt="facebook" src="/static/img/core-img/SRI_LOGO.png" width="20px"> Anexo Transaccional Simplificado (ATS)</a></li>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Administración </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <li><a class="dropdown-item" href="{% url 'administracion:listado_empresas' %}"><i class="fa fa-industry"></i> Gestor de Empresas</a></li>
          <li><a class="dropdown-item" href="#"><i class="fa fa-users"></i> Gestor de Usuarios</a></li>
          <li><a class="dropdown-item" href="{% url 'administracion:listado_secuencias' %}"><i class="fa fa-list-ol"></i> Gestor de Secuencias</a></li>
          <div class="dropdown-divider"></div>
          <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="#">S.R.I</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'sri:listado_tipos_comprobantes' %}"><i class="fas fa-ticket-alt"></i> Tipos de comprobantes</a></li>
              <li><a class="dropdown-item" href="{% url 'sri:listado_tipos_identificaciones' %}"><i class="fas fa-id-card-alt"></i> Tipos de identificaciones</a></li>

              <li><a class="dropdown-item" href="{% url 'sri:listado_tipos_impuestos' %}"><i class="fas fa-coins"></i> Tipos de impuestos</a></li>
              <li><a class="dropdown-item" href="{% url 'sri:listado_tipos_documentos' %}"><i class="fa fa-file"></i> Tipos de documentos</a></li>
              <li><a class="dropdown-item" href="{% url 'sri:listado_tipos_monedas' %}"><i class="fas fa-money-bill-alt"></i> Tipos de monedas</a></li>
              <li><a class="dropdown-item" href="{% url 'sri:listado_tarifa_iva' %}"><i class="fas fa-percentage"></i> Tarifas IVA</a></li>
              <li><a class="dropdown-item" href="{% url 'sri:listado_tipos_documentos' %}"><i class="fas fa-percentage"></i> Tarifas ICE</a></li>
              <!--
              <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="#">Submenu 1</a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Subsubmenu1</a></li>
                  <li><a class="dropdown-item" href="#">Subsubmenu1</a></li>
                </ul>
              </li>
              <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="#">Submenu 2</a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Subsubmenu2</a></li>
                  <li><a class="dropdown-item" href="#">Subsubmenu2</a></li>
                </ul>
              </li>
              -->
            </ul>
          </li>
        </ul>
      </li>
      {% endif %}
    </ul>
    <!--=========-->
    <ul class="navbar-nav ml-auto">
      {% if user.is_authenticated %}
       <li class="nav-item dropdown">
         <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           <i class="fas fa-user"></i> {{ user.first_name }} {{ user.last_name }}
         </a>
         <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
           <li><a class="dropdown-item" href="{% url 'usuario:secret' %}"><i class="fas fa-male"></i> Perfil de usuario</a></li>
           <li><a class="dropdown-item" href="{% url 'password_change' %}"><i class="fas fa-key"></i> Cambiar contraseña</a></li>
           <div class="dropdown-divider"></div>
           <li><a class="dropdown-item" href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i> Cerrar sesión</a></li>
         </ul>
       </li>
      {% else %}
        <li class="nav-item {% if active_tab == 'tab_login' %} active {% endif %}"><a class="nav-link" href="{% url 'login' %}"><i class="fas fa-sign-in-alt"></i> Iniciar sesión</a></li>
      {% endif %}
    </ul>
  </div>
</nav>
