<form id="cardForm" method="post" class="form-horizontal" style="display: none;" autocomplete="off">
  {% csrf_token %}
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="dlgcard_card_name">Tarjeta</label>
      <select class="form-control" name="dlgcard_card_name" id="dlgcard_card_name">
        <option value="">-- Seleccione --</option>
        {% for tarjeta in tarjetas %}
        <option value={{ tarjeta.tarjeta_id }}>{{ tarjeta.nombre }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="form-group col-md-6">
      <label for="dlgcard_card_tipo">Tipo Tarjeta</label>
      <select id="dlgcard_card_tipo" autofocus="true" class="form-control">
        <option selected  value="0">---------</option>
        <option value="TD">TARJETA DÉBITO</option>
        <option value="TC">TARJETA CRÉDITO</option>
      </select>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-4">
      <label for="dlgcard_card_number">Tarjeta Número</label>
      <input type="text" name="dlgcard_card_number" id="dlgcard_card_number" maxlength="16" class="form-control">
    </div>
    <div class="form-group col-md-4">
      <label for="dlgcard_vaucher_nro">Vaucher Número</label>
      <input type="text" name="dlgcard_vaucher_nro" id="dlgcard_vaucher_nro" maxlength="16" class="form-control">
    </div>
    <div class="form-group col-md-4">
      <label for="dlgcard_amount">Monto</label>
      <input type="text" min="0" placeholder="0.00" name="dlgcard_amount" id="dlgcard_amount" class="form-control" data-fv-greaterthan-inclusive="false" data-fv-greaterthan-message="Valor debe ser mayor a cero"/>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-12">
      <div class="float-right">
        <a id="addCard" href="#" class="btn btn-success btn-sm"><i class="fas fa-plus"></i> Agregar</a>
      </div>
      <section id="no-more-tables">
        <table id="tbl_card" class="table table-bordered table-condensed cf">
          <thead class="cf">
            <tr>
              <th data-title="Tarjeta">Tarjeta</th>
              <th data-title="Tarjeta Nro.">Tarjeta. Nro.</th>
              <th data-title="Vaucher Nro.">Vaucher Nro.</th>
              <th class="numeric">Monto</th>
              <th data-title="Tipo" style="display:none;">Tipo</th>
              <th class="text-center">Acción</th>
            </tr>
          </thead>
          <tbody id = "tbody_card_data">

          </tbody>
        </table>
      </section>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-3">
      <button type="submit" id="btnCard" class="btn btn-primary btn-sm" disabled>Confirmar</button>
      <button type="reset" class="btn btn-secondary btn-sm" data-dismiss="modal">Cancelar</button>
    </div>
  </div>
</form>
