<title>BALANCE GENERAL</title>

<style>
    table { -pdf-keep-with-next: true; }
    p { margin: 0; -pdf-keep-with-next: true; }
    p.separator { -pdf-keep-with-next: false; font-size: 6pt; }

    /*table {
      border-collapse: collapse;
    }
    td, th {
      border: 1px solid orange;
    }*/

</style>
<!--<strong>LIBRO MAYOR PRINCIPAL</strong>-->

<body>
    <strong>{{ empresa.razon_social }} - {{ empresa.nombre_comercial }}</strong>
    <p>
      <strong>ESTADO DE SITUACIÓN FINANCIERA</strong><br>
      <strong>{{ current_time }}</strong><br>
      <strong>VALORES EN DÓLARES AMERICANOS</strong>
    </p>

    <br>
    <table>
      <tbody>
        <tr>
          <td><strong>ACTIVO</strong></td>
        </tr>
        <tr><td>Corriente</td></tr>
        <tr>
          <td>Caja General</td>
          <td>xxx</td>
        </tr>
        <tr>
          <td>Bancos</td>
          <td>xxx</td>
        </tr>
        <tr>
          <td>Inventarios</td>
          <td>xxx</td>
        </tr>

        <tr></tr>
        <tr><td>Fijo o prop. planta y eq.</td></tr>
        <tr>
          <td>Muebles de oficina</td>
          <td>xxx</td>
        </tr>

        <tr></tr>
        <tr><td>Otros</td></tr>
        <tr>
          <td>Gastos de constitución</td>
          <td>xxx</td>
        </tr>
        <tr></tr>
        <tr>
          <td><strong>TOTAL ACTIVO</strong></td>
          <td>xxx</td>
        </tr>

        <tr></tr>
        <tr></tr>
        <tr>
          <td><strong>PASIVO</strong></td>
        </tr>
        <tr><td>Corriente</td></tr>
        <tr>
          <td>Cuentas por pagar</td>
          <td>xxx</td>
        </tr>
        <tr>
          <td>IESS por pagar</td>
          <td>xxx</td>
        </tr>

        <tr></tr>
        <tr><td>Largo plazo</td></tr>
        <tr>
          <td>Hipoteca por pagar</td>
          <td>xxx</td>
        </tr>

        <tr></tr>
        <tr><td>Patrimonio</td></tr>
        <tr>
          <td>Capital social</td>
          <td>xxx</td>
        </tr>
        <tr></tr>
        <tr>
          <td><strong>TOTAL PASIVO + CAPITAL</strong></td>
          <td>xxx</td>
        </tr>

        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr>
          <td style="text-align: center;">(Firma)</td>
          <td style="text-align: center;">(Firma)</td>
        </tr>
        <tr>
          <td style="text-align: center;"><strong>Gerente</strong></td>
          <td style="text-align: center;"><strong>Contador</strong></td>
        </tr>
      <tbody>
    </table>
</body>
