<title>ESTADO DE RESULTADOS PERIODO</title>

<style>
    table { -pdf-keep-with-next: true; }
    p { margin: 0; -pdf-keep-with-next: true; }
    p.separator { -pdf-keep-with-next: false; font-size: 6pt; }

    /*table {
      border-collapse: collapse;
    }
    td, th {
      border: 1px solid orange;
    }*/

</style>
<!--<strong>LIBRO MAYOR PRINCIPAL</strong>-->

<body>
    <strong>{{ empresa.razon_social }} - {{ empresa.nombre_comercial }}</strong>
    <p>
      <strong>ESTADO DE RESULTADOS</strong><br>
      <strong>{{ periodo }}</strong><br>
      <strong>VALORES EN DÓLARES AMERICANOS</strong>
    </p>

    <br>
    <table>
      <tbody>
        <tr>
          <td><strong>INGRESOS OPERACIONALES</strong></td>
        </tr>
        <tr>
          <td>Servicios prestados</td>
          <td></td>
          <td>xxx</td>
        </tr>

        <tr></tr>
        <tr>
          <td><strong>(-) GASTOS OPERACIONALES</strong></td>
        </tr>
        <tr>
          <td><strong>De administración</strong></td>
        </tr>
        <tr>
          <td>Sueldos</td>
          <td>xxx</td>
          <td></td>
        </tr>
        <tr>
          <td>Beneficios sociales</td>
          <td>xxx</td>
          <td></td>
        </tr>
        <tr>
          <td>Servicios básicos</td>
          <td>xxx</td>
          <td></td>
        </tr>
        <tr>
          <td><strong>De ventas</strong></td>
        </tr>
        <tr>
          <td>Publicidad</td>
          <td>xxx</td>
          <td>xxx</td>
        </tr>
        <tr>
          <td>= Utilidad operacional (o pérdida)</td>
          <td>xxx</td>
          <td>xxx</td>
        </tr>

        <tr></tr>
        <tr>
          <td><strong>+/- RENTAS Y GASTOS EXTRA</strong></td>
        </tr>
        <tr>
          <td>Arriendos ganados</td>
          <td>xxx</td>
          <td></td>
        </tr>
        <tr>
          <td>Pérdidas ocasionales</td>
          <td>xxx</td>
          <td>xxx</td>
        </tr>

        <tr></tr>
        <tr>
          <td><strong>= UTILIDAD DEL EJERCICIO</strong></td>
          <td></td>
          <td>xxx</td>
        </tr>

        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr>
          <td style="text-align: center;">(Firma)</td>
          <td style="text-align: center;">(Firma)</td>
        </tr>
        <tr>
          <td style="text-align: center;"><strong>Gerente</strong></td>
          <td style="text-align: center;"><strong>Contador</strong></td>
        </tr>
      <tbody>
    </table>
</body>
